@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.container, .container-fluid, .row {
  margin: 0;
}

.portada, .portada-inicio {
  position: relative;
  z-index: -2;
}

.portada img, .portada-inicio video {
  width: 100%;
  height: 400px;
  margin-top: 98px;
  object-fit: cover;
}

.portada h1, .portada-inicio h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-size: 30px;
  letter-spacing: 2px;
}

.productos article, .clientes .artic {
  border: 1px solid black;
  border-radius: 8px;
  background-color: beige;
  justify-content: center;
  text-align: center;
}
.productos article img, .clientes .artic img {
  width: 100%;
}
.productos article a, .clientes .artic a {
  color: black;
  text-decoration: none;
  background-color: #B8E0D2;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.medir, .talles {
  width: 580px;
  margin: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: beige;
}

.productos article a, .personaliza a, .titulo a {
  margin-top: 10px;
  margin-left: 50px;
  background-color: #B8E0D2;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.portada-inicio h1 {
  left: 15%;
}

.portada h1 {
  left: 50%;
}

/* MEDIA Q  */
@media (max-width: 1100px) {
  .portada-inicio video {
    height: 350px;
    margin-top: 68px;
  }
  .portada-inicio h1 {
    font-size: 20px;
  }
  .portada img {
    height: 350px;
    margin-top: 68px;
  }
  .portada h1 {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .portada-inicio video {
    height: 250px;
  }
  .portada-inicio h1 {
    font-size: 18px;
    letter-spacing: 0;
  }
  .portada img {
    height: 250px;
  }
  .portada h1 {
    font-size: 18px;
    letter-spacing: 0;
  }
}
@media (max-width: 800px) {
  .portada-inicio h1 {
    left: 50%;
  }
}
.icon {
  width: 50px;
  height: 50px;
}

.navegador {
  width: 100%;
  height: 70px;
  margin-top: 28px;
  position: fixed;
  z-index: 100;
  background-color: #B8E0D2;
}
.navegador .logo {
  width: 90px;
  height: 70px;
  object-fit: cover;
  margin-left: 30px;
}
.navegador .fa-bars {
  display: none;
}
.navegador ul {
  list-style: none;
  transition: 0.5s;
}
.navegador ul li a {
  color: black;
  height: 60px;
  padding: 20px 30px;
  text-decoration: none;
}

.cuotas {
  position: fixed;
  top: 0;
  z-index: 100;
}

.cuotas, .footer__copyright p {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: beige;
  margin-bottom: 0;
}

/* media q */
@media (max-width: 1100px) {
  .navegador {
    height: 60px;
    margin-top: 22px;
  }
  .navegador .logo {
    height: 60px;
    margin-top: 0;
  }
  .navegador ul li a {
    font-size: 18px;
  }
  .cuotas, .footer__copyright p {
    font-size: 16px;
    height: 22px;
  }
}
@media (max-width: 1022px) {
  .navegador .fa-bars {
    display: block;
    font-size: 32px;
    margin: 10px;
  }
  .navegador .fa-bars:hover + ul {
    right: 0;
  }
  .navegador ul {
    right: -350px;
    top: 0;
    background-color: #B8E0D2;
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    align-items: start;
  }
  .navegador ul:hover {
    right: 0;
  }
  .navegador ul li a {
    font-size: 16px;
  }
}
.messi-remera {
  width: 280px;
  border-style: solid;
  border-color: black;
  object-fit: cover;
  border-radius: 15%;
  border-width: 2px;
}

.messi-copa {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: black;
  object-fit: cover;
  border-radius: 50%;
  border-width: 1px;
}

.carousel-inner {
  width: 40%;
  z-index: -2;
  margin: 60px auto;
}

@media (max-width: 1270px) {
  .messi-remera {
    width: 250px;
  }
  .messi-copa {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 800px) {
  .carousel-inner {
    width: 80%;
  }
  .titulo h2 {
    font-size: 18px;
  }
  .titulo a {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .messi-remera {
    width: 180px;
  }
  .messi-copa {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 420px) {
  .img-inicio {
    flex-direction: column;
  }
}
.personaliza {
  width: 60%;
  height: 550px;
  margin: 20px;
  padding: 40px 40px 0 40px;
}
.personaliza h3 {
  margin-bottom: 25px;
}
.personaliza a {
  margin: 0 auto;
}

.png {
  width: 470px;
  position: absolute;
  right: 0;
}

.clientes {
  padding: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.clientes .artic {
  margin-top: 40px;
  width: 380px;
  height: 630px;
}
.clientes .artic h4 {
  padding: 15px;
}
.clientes .artic img {
  height: 500px;
  border-radius: 8px;
}

@media (max-width: 1170px) {
  .personaliza {
    font-size: 18px;
  }
  .png {
    width: 400px;
    height: 465px;
    object-fit: cover;
    margin-top: 40px;
  }
}
@media (max-width: 1022px) {
  .page-personaliza {
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  .page-personaliza .personaliza {
    width: 90%;
    height: auto;
  }
  .png {
    margin-top: 0px;
    position: relative;
    top: -90px;
    display: block;
    z-index: 20;
    align-self: flex-end;
  }
  .clientes {
    padding: 10px;
  }
}
@media (max-width: 804px) {
  .png {
    display: none;
  }
  .clientes {
    margin-top: 20px;
  }
}
@media (max-width: 650px) {
  .personaliza {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
}
.productos {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 10px;
}
.productos article {
  width: 400px;
  height: 700px;
  overflow: hidden;
}
.productos article h4, .productos article p {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
}
.productos article a {
  margin: 0 auto;
}
.productos article img {
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
}

.nuestras-remeras {
  width: 65%;
  padding: 20px;
  margin: 0 auto;
  text-align: justify;
}
.nuestras-remeras h3 {
  text-align: center;
}

.talles img {
  width: 100%;
  border-radius: 10px;
}

.medir {
  height: 450px;
}
.medir iframe {
  width: 100%;
  height: 300px;
}

@media (max-width: 900px) {
  .nuestras-remeras {
    width: 100%;
    font-size: 18px;
  }
  .probando article {
    font-size: 18px;
    height: 640px;
  }
}
@media (max-width: 700px) {
  .tym {
    gap: 10px;
  }
  .talles {
    margin: 0;
  }
  .medir {
    margin: 0;
    margin-bottom: 20px;
  }
}
.tarjetas-preguntas {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.tarjeta {
  width: 40%;
  background-color: beige;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.tarjeta img {
  width: 50px;
}
.tarjeta ul {
  list-style: none;
}
.tarjeta .mapa {
  width: 100%;
  height: 250px;
}

@media (max-width: 1200px) {
  .tarjetas-preguntas {
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 20px;
  }
  .tarjetas-preguntas .tarjeta {
    font-size: 16px;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .tarjeta {
    width: 60%;
  }
}
@media (max-width: 678px) {
  .tarjeta {
    width: 90%;
  }
}
.form-contacto {
  display: grid;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  background-color: beige;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contacto  contacto" "texto    texto" "nombre   apellido" "email     cel" "mensaje   mensaje" "novedades novedades" "limpiar    enviar";
}
.form-contacto h2 {
  grid-area: contacto;
  text-align: center;
}
.form-contacto p {
  grid-area: texto;
  text-align: center;
}
.form-contacto label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-contacto label input, .form-contacto label textarea {
  background-color: beige;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}
.form-contacto label:nth-child(3) {
  grid-area: nombre;
}
.form-contacto label:nth-child(4) {
  grid-area: apellido;
}
.form-contacto label:nth-child(5) {
  grid-area: email;
}
.form-contacto label:nth-child(6) {
  grid-area: cel;
}
.form-contacto label:nth-child(7) {
  grid-area: mensaje;
}
.form-contacto label:nth-child(8) {
  grid-area: novedades;
  text-align: center;
}
.form-contacto .limpiar {
  grid-area: limpiar;
  justify-self: end;
  padding: 8px;
  margin-right: 10px;
  background-color: #B8E0D2;
  border-radius: 5px;
}
.form-contacto .enviar {
  grid-area: enviar;
  justify-self: start;
  padding: 8px;
  margin-left: 10px;
  background-color: #B8E0D2;
  border-radius: 5px;
}

.logos-contacto {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1070px) {
  .form-contacto h1 {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .form-contacto {
    width: auto;
    margin-top: 0;
    grid-template-areas: "contacto  contacto" "texto    texto" "nombre   nombre" "apellido apellido" "email    email" "cel       cel" "mensaje   mensaje" "novedades novedades" "limpiar    enviar";
  }
  .logos-contacto {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  background-color: #B8E0D2;
}
footer h3 {
  font-size: 16px;
}
footer ul {
  list-style: none;
}
footer ul li a {
  color: black;
  text-decoration: none;
}
footer .logo-footer {
  width: 35px;
  height: 35x;
}

/* media q */
@media (max-width: 1070px) {
  footer h3 {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
