.form-contacto{
    display: grid;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    background-color: $bg-color-sec;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:   "contacto  contacto"
                            "texto    texto"
                            "nombre   apellido"
                            "email     asunto"
                            "mensaje   mensaje"
                            "novedades novedades"
                            "limpiar    enviar";
    h2{
        grid-area: contacto;
        text-align: center;
    }
    p{
        grid-area: texto;
        text-align: center;
    }
    label{
        display: flex;
        flex-direction: column;
        padding: 10px;
        input, textarea{
            background-color: $bg-color-sec;
            border: none;
            border-bottom: 1px solid black;
            padding: 10px;
        }
        &:nth-child(3){
            grid-area: nombre;
        }
        &:nth-child(4){
            grid-area: apellido;
        }
        &:nth-child(5){
            grid-area: email;
        }
        &:nth-child(6){
            grid-area: asunto;
        }
        &:nth-child(7){
            grid-area: mensaje;
        }
        &:nth-child(8){
            grid-area: novedades;
            text-align: center;
        }
    }
    .limpiar{
        grid-area: limpiar;
        width: 100px;
        border-radius: 10px;
        margin: 5px;
        justify-self: end;
    }
    .enviar{
        grid-area: enviar;
        width: 100px;
        margin: 5px;
        border-radius: 10px;
        border-style: outset;
        justify-self: start;
    }
}
.logos-contacto {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    justify-content: center;
    gap: 30px;
}
@media(max-width: 1070px){
    .form-contacto{
        h1{
            font-size: 18px;
        }
    }
}
@media(max-width:900px){
    .form-contacto{
        width: auto;
        grid-template-areas:   "contacto  contacto"
                                "texto    texto"
                                "nombre   nombre"
                                "apellido apellido"
                                "email    email"  
                                "asunto    asunto"
                                "mensaje   mensaje"
                                "novedades novedades"
                                "limpiar    enviar";
    }
    .logos-contacto {
        flex-direction: column;
        align-items: center;
    }
}
