.messi-remera{
    width: 280px;
    @include bordes (15%,2px);
}
.messi-copa{
    @include sizes (300px,300px);
    @include bordes (50%,1px);
}
.carousel-inner{
    width: 40%;
    z-index: -2;
    margin: 60px auto;
}
.titulo a{
    @extend %boton;
}


@media(max-width: 1270px){
    .messi-remera{
        width: 250px;
    }
    .messi-copa{
        @include sizes (280px,280px);
    }
    .titulo h2{
    font-size: 25px;
}
}
@media(max-width:800px){
    .carousel-inner{
        width: 80%;
    }
    .titulo h2{
        font-size: 24px;
    }
    .titulo .btn{
        font-size: 14px;
    }
}
@media(max-width: 600px){
    .messi-remera{
        width: 180px;
    }
    .messi-copa{
        @include sizes (200px,200px);
    }
    .titulo h2{
        font-size: 14px;
    }
    .titulo .btn{
        font-size: 10px;
    }
}
@media(max-width: 420px){
    .img-inicio{
        flex-direction: column;
    }
}