.icon{
    @include sizes (50px,50px);
}
.navegador{
    @include sizes (100%,70px);
    margin-top: 28px;
    position: fixed;
    z-index: 100;
    background-color: $bg-color;
    .logo{
        @include sizes (90px, 70px);
        object-fit: cover;
        margin-left: 30px;
    }
    .fa-bars{
        display: none;
    }
    ul{
        list-style: none;
        transition: 0.5s;
        li a{
            color: black;
            height: 60px;
            padding: 20px 30px;
            text-decoration: none;
        }
    }
}
.cuotas{
    position: fixed;
    top:0;
    z-index: 100;
}
.cuotas , .footer__copyright p{
    @include sizes (100%,30px);
    text-align: center;
    font-size: 18px;
    background-color: $bg-color-sec;
    margin-bottom: 0;
}

/* media q */
@media (max-width: 1100px){
    .navegador{
        height: 60px;
        margin-top: 22px;
        .logo{
            height: 60px;
            margin-top: 0;
        }
        ul li a{
            font-size: 18px;
        }
    }
    .cuotas , .footer__copyright p{
        font-size: 16px;
        height: 22px;
        }
}

@media(max-width:1022px){
    .navegador {
        .fa-bars{
            display: block;
            font-size: 32px;
            margin: 10px;
            &:hover + ul{
                right: 0;
            }
        }
        ul{
            right:-350px;
            top: 0;
            background-color: $bg-color;
            position: fixed;
            @include sizes (250px,100vh);
            z-index: 5;
            flex-direction: column;
            align-items: start;
            &:hover{
                right: 0;
            }
        }
        ul li a{
            font-size: 16px;
        }
    }
}