.form-boots{
    background-color: $bg-color-sec;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.form-boots .text-center, .form-control,.form-label{
    font-family: 'Roboto', sans-serif;
}