.portada-inicio{
    @extend %portadas;
    video{
        @extend %portadas-img;
    }
    h1{
        @extend %portadas-h1;
        left: 15%;
        }
}
.portada{
    @extend %portadas;
    img{
        @extend %portadas-img;
    }
    h1{
        @extend %portadas-h1;
        left: 50%;
    }
}

/* MEDIA Q  */
@media(max-width:1070px){
    .portada-inicio{
        video{
        height: 350px;
        margin-top: 68px;
        }
        h1{
            font-size: 20px;
        }
    } 
    .portada{
        img{
        height: 350px;
        margin-top: 68px;
        }
        h1{
            font-size: 20px;
        }
    }
}
@media(max-width:520px){
    .portada-inicio{
        video {
        height: 250px;
        }
        h1{
        font-size: 18px;
        letter-spacing: 0;
        }
    }
    .portada{
        img {
        height: 250px;
        }
        h1{
        font-size: 18px;
        letter-spacing: 0;
        }
    }
}
@media(max-width:800px){
    .portada-inicio h1{
        left: 50%;
    }
}