.productos{
    padding: 40px;
    article{
        @extend %tarjetas;
        margin-top: 20px;
        width: 800px;
        height: 715px;
        h4{
            padding: 5px;
        }
    }
}
.nuestras-remeras{
    width: 65%;
    padding: 20px;
    margin:0 auto;
    text-align: justify;
    h3{
        text-align: center;
    }
}
.talles{
    @extend %tym;
    margin-left: 60px;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.medir{
    @extend %tym;
    height: 450px;
    margin-right: 60px;
    iframe{
        width: 100%;
    }
}