.productos{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px;
    article{
        @extend %tarjetas;
        width: 400px;
        height: 700px;
        overflow: hidden;
        h4,p{
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 5px;
        }
        a{
            @extend %boton;
            margin: 0 auto;
        }
        img{
            height: 450px;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}
.nuestras-remeras{
    width: 65%;
    padding: 20px;
    margin:0 auto;
    text-align: justify;
    h3{
        text-align: center;
    }
}
.talles{
    @extend %tym;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.medir{
    @extend %tym;
    height: 450px;
    iframe{
        width: 100%;
        height: 300px;
    }
}
@media(max-width:900px){
    .nuestras-remeras{
        width: 100%;
        font-size: 18px;
    }
    .probando{
        article{
            font-size: 18px;
            height: 640px;
        }
    }
}
@media(max-width:700px){
    .tym{
        gap:10px;
    }
    .talles{
        margin: 0;
    }
    .medir{
        margin: 0;
        margin-bottom: 20px;
    }
}