*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.container,.container-fluid,.row{
    margin: 0;
}